* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('../img/background.png');
    background-color:#E7EAEB;
    background-repeat:no-repeat;
    background-position:top center;
    background-attachment:fixed;
    background-size:cover;
}

.main-container {
    position: relative;
}

.main-container-upper-content {
    padding: 5em 10% 2.5em;
}

.main-container-logo {
    display: inline-block;
    background-image: url('../img/logo-stemwijzer.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: contain;
    height: 56px;
    width: 331px;
}

.main-container-logo-subject {
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
}

.main-container-subject {
    font-size: 22px;
    font-weight: bold;
    color: #01B4DC;
    line-height: 1.3em;
    padding: 1em 0;
}

.main-container-middle-content {
    padding: 0em 10% 2.5em;
}

.main-container-sub-subjects {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px 45px;
    width: 400px;
    height: 50px;
    padding: 0 0 0 4.5em;
    margin-bottom: 2em;
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
}

.main-container-handicap-subject {
    background-image: url('../img/icon-xsable.svg');
}

.main-container-privacy-subject {
    background-image: url('../img/icon-lock.svg');
}

.main-container-button {
    display: inline-block;
    padding: .65em .5em;
    background: transparent;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
    color: white;
    width: 188px;
    height: 64px;
    float: right;
}

.main-container-advert-border {
    border-top: 2px dashed grey;
    width: 100%;
}

.main-container-advert-content {
    clear: none;
    padding: 4% 10% 2.5em;
}

.main-container-advert-title {
    width: 400px;
    opacity: .7;
    margin-bottom: 1em;
}

.main-container-advert-description {
    font-family: 'Arial';
    font-size: 16px;
    color: #4F4D4D;
    padding-bottom: 1.5em;
}
/* End Main Container */

.sub-container {
    position: relative;
}

.sub-container-upper-content {
    padding: 2em 10% 2.5em;
}

.sub-container-logo {
    display: inline-block;
    background-image: url('../img/logo-1v.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: contain;
    width: 173px;
    height: 63px;
}

.sub-container-first-title, .sub-container-second-title {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18px;
    color: white;
    padding-bottom: 0.5em;
}

.sub-container-first-parties, .sub-container-second-parties {
    display: flex;
    flex-wrap: wrap;
}

.sub-container-party {
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: 0 14px 18px 0;
    background: white;
    border-radius: 50px;
    transition: transform .2s ease;
}

.sub-container-party:hover {
    transform: scale(2);
    box-shadow: 1px 1px 8px rgba(0,0,0,);
    transition: transform .2s ease;
}

.sub-container-party-image {
    width: 80%;
    height: 80%;
    margin: 10% 0 0 10%;
    background-position: center center;
    background-size: 90%;
    background-repeat: no-repeat;
}
/* End Sub-Container */

.footer-container {
    position: relative;
}

.footer-container-logo {
    display: inline-block;
    background-image: url('../img/logo-stemwijzer-white.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: contain;
    height: 56px;
    width: 150px;
}

.footer-container-logo2 {
    position: relative;
    display: inline-block;
    background-image: url('../img/logo-prodemos.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: contain;
    height: 50px;
    width: 110px;
    float: right;
    right: 60px;
}

.footer-container-logo3 {
    position: relative;
    display: inline-block;
    background-image: url('../img/logo-1v-small.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: contain;
    height: 35px;
    width: 150px;
    float: right;
    margin-top: 0.45em;
    left: 126px;
}
/* End Footer Container */

#questionpage {
    display: none;
}

.question-container {
    position: relative;
    min-height: 650px;
}

.question-container-progressbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    height: .5em;
    width: 8.3%;
    background-color: #01B4DC;
    left: 0;
}

.question-container-content {
    padding: 0em 10% 4.5em;
}

#question-container-topic {
    color: #01B4DC;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 1em;
}

#question-container-information {
    font-size: 33px;
    font-family: 'Arial';
    max-width: 800px;
}

.question-container-buttons {
    position: absolute;
    top: 400px;
    width: 700px;
}

.question-container-options {
    position: absolute;
    top: 460px;
}

.question-container-answer-button {
    display: inline-block;
    padding: .65em .5em;
    background: transparent;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
    color: white;
    height: 64px;
    margin-right: 1.33%;
    width: auto;
    min-width: 188px;
}

.question-container-answer-button:hover {
    cursor: pointer;
}

.question-container-skip-button {
    display: block;
    float: left;
    width: auto;
    background: white;
    font-weight: lighter;
    color: #A8A8A8;
    text-decoration: none;
    outline: 0;
    font-size: 24px;
    margin-top: 1em;
    line-height: 24px;
}

.question-container-skip-button:hover {
    cursor: pointer;
}

.question-container-skip-arrow {
    content: '';
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 4px;
    right: 0;
    background-image: url(../img/icon-backspace-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform .2s;
}

.question-container-skip-arrow:hover {
    cursor: pointer;
}

.question-container-backarrow {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../img/icon-arrow-back.svg);
    background-color: #E7EAEB;
    border-radius: 50px;
    transition: transform .2s;
    display: inline-block;
    margin-top: 20px;
}

.question-container-backarrow:hover {
    cursor: pointer;
}

.question-container-forum-button {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../img/icon-forum.svg);
    display: inline-block;
    position: relative;
    right: 280px;
    top: 68px;
}

.question-container-forum-button:hover {
    cursor: pointer;
}

.question-container-party {
    display: block;
    width: auto;
    background: white;
    font-weight: lighter;
    text-decoration: none;
    outline: 0;
    font-size: 24px;
    margin-top: 1em;
    line-height: 24px;
    padding-left: 40px;
}

.question-container-party:hover {
    cursor: pointer;
}

/* End Question page */

#partypage {
    display: none;
    position: relative;
    background-color: #f3f3f3;
}

.party-container-content {
    padding: 0em 10% 4.5em;
}

#eensList, #noneList, #oneensList {
    margin-top: 20px;
}

.party-container-list {
    display: flex;
    justify-content: space-between;
}

.party-container-titlelist {
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 200px;
    margin: 0;
}

.party-container-partyname {
    position: relative;
    bottom: 10px;
    z-index: 999;
}

.party-container-listitem {
    position: relative;
    list-style: none;
    font-size: 14px;
    padding-bottom: 0.75em;
    border-bottom: 1px solid #979797;
}

.party-container-dropdown {
    display: none;
    width: 200px;
    margin-bottom: 25px;
    margin-top: -25px;
    border-bottom: 1px solid #979797;
}

.party-dropdown-image {
    height: 10px;
    position: relative;
    bottom: 36px;
    left: 187px;
}

.party-dropdown-container {
    border-bottom: 1px solid #979797;
}

.party-dropdown-container:hover {
    cursor: pointer;
}
