/* Table of contents:

    1. General CSS
    2. Start Page
    3. Question Page
    4. Priority Page
    5. Party Page
    6. Result Page

*/

/* 1. General CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('../img/background.png');
    background-color:#E7EAEB;
    background-repeat:no-repeat;
    background-position:top center;
    background-attachment:fixed;
    background-size:cover;
}

.container {
    background-color: #FFFFFF;
    margin: auto;
    padding: 4.5em 7.5% 2.5em;
    width: 75%;
}

figure {
    margin: 0 !important;
}

.btn {
    outline: 0;
    border-radius: 5px;
    background-color: #000000;
    min-width: 188px;
    min-height: 68px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s ease;
}

.btn:hover {
    background-color: #018AA9;
}

/* 2. Start Page */

#start-page {
    font-family: 'Arial';
    /* display: none; */
}

.start-subject {
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em 0;
}


.start-comment {
    color: #01B4DC;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3em;
    padding: 0.1em 0;
}

.start-subcomments {
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 40px 40px;
    display: block;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.start-button {
    float: right;
    margin-top: 2em;
}

.start-xsable {
    background-image: url('../img/icon-xsable.svg');
    max-width: 375px;
    padding: 0 0 0 4.5em;
    margin: 3.5em 0 2em 0;
}

.start-privacy {
    background-image: url('../img/icon-lock.svg');
    max-width: 345px;
    padding: 0 0 0 4.5em;
}

.advert-start {
    border-top: 2px dotted #979797;
    background-color: #f9f9f9;
    padding: 1.5em 7.5% 2.5em;
}

.advert-container {
    padding: 0!important;
}

.advert-img {
    opacity: .7;
    cursor: pointer;
}

.advert-comment {
    font-size: 16px;
    color: #4F4D4D;
    padding-bottom: 1.5em;
}

.eenvandaag-container {
    padding: 0!important;
}

.eenvandaag-start {
    background-color: #01B4DC;
    padding: 1.5em 10% 2.5em;
}

.eenvandaag-comment {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    padding: 1em 0 1em 0;
}

#eenvandaag-party-true, #eenvandaag-party-false {
    display: flex;
    flex-wrap: wrap;
}

.eenvandaag-party-circle {
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: 0 14px 18px 0;
    background: white;
    border-radius: 50px;
    transition: transform .2s ease;
}

.eenvandaag-party-circle:hover {
    transform: scale(2);
    box-shadow: 1px 1px 8px rgba(0,0,0,);
    transition: transform .2s ease;
}

.eenvandaag-party-image {
    width: 80%;
    height: 80%;
    margin: 10% 0 0 10%;
    background-position: center center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.footer-container {
    padding: 0 !important;
    background-color: transparent !important;
}

.footer-start {
    padding: 1.5em 0% 1.5em;
}

.footer-image {
    float: right;
    margin-left: 15px;
}

/* 3. Question Page */

#question-page {
    position: relative;
    display: none;
}

.question-container {
    font-family: 'Arial';
    padding: 0.5em 0% 2.5em;
}

.progress-bar {
    background-color: #01B4DC;
    display: block;
    height: 0.5em;
    width: 8.3%;
    transition: all 0.2s;
    margin-top: -8px;
}

#question-back-button {
    background-color: transparent;
    outline: 0;
    padding: 0 2%;
}

.question-backarrow {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../img/icon-arrow-back.svg);
    background-color: #E7EAEB;
    border-radius: 50px;
    transition: transform .2s;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

#question-statement {
    color: #01B4DC;
    font-family: 'Arial';
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0 7.5%;
}

#question-description {
    font-family: 'Arial';
    font-size: 33px;
    min-height: 155px;
    padding: 0 7.5%;
}

#Eens {
    margin: 4em 1.33% 1em 7.5%;
}

.question-buttons {
    margin-right: 1.33%;
    width: auto;
    min-height: 60px;
    min-width: 188px;
}

.active {
    background-color: #018AA9 !important;
}

.question-skip-button {
    color: #A8A8A8;
    font-size: 26px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0;
    padding: 0 7.5%;
}

.question-skip-arrow {
    display: inline-block;
    width: 24px;
    height: 16px;
    top: 0px;
    right: 0;
    background-image: url(../img/icon-backspace-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform .2s;
}

.question-forum-logo {
    width: 50px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../img/icon-forum.svg);
    display: inline-block;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
    left: 7.5%;
}

#questionPartyDropdown {
    display: none;
    position: relative;
    background-color: #F3F3F3;
    margin: 0 7.5% !important;
}

#eens-list, #none-list, #oneens-list {
    margin-top: 20px;
}

.question-dropdown-text {
    font-size: 24px;
    position: relative;
    bottom: 4px;
    cursor: pointer;
    padding: 0 7.5%;
}

.question-dropdown-list {
    display: flex;
    justify-content: space-between;
    padding: 0.75em 1.8em;
}

.question-dropdown-titlelist {
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 200px;
    margin: 0;
}

.question-party-name {
    position: relative;
    bottom: 10px;
    z-index: 999;
    cursor: pointer;
}

.question-container-dropdown {
    display: none;
    width: 200px;
    margin-bottom: 25px;
    margin-top: -25px;
    border-bottom: 1px solid #979797;
}

.question-dropdown-image {
    height: 10px;
    position: relative;
    bottom: 36px;
    left: 187px;
}

.question-dropdown-container {
    border-bottom: 1px solid #979797;
}

/* 4. Priority Page */

#priority-page {
    position: relative;
    display: none;
}

.priority-container {
    font-family: 'Arial';
    padding: 0.5em 0% 0em;
}

.priority-header {
    color: #01B4DC;
    font-family: 'Arial';
    font-size: 33px;
    font-weight: bold;
    padding: 0 7.5%;
    margin-bottom: 1em;
}

.priority-info {
    font-size: 18px;
    margin-bottom: 3em;
    padding: 0 7.5%;
}

.priority-button {
    margin: 0 7.5%;
    float: right;
}

.priority-parties {
    padding: 0.75em 7.5%;
    margin-top: 10em !important;
    background-color: #E7EAEB;
}

.priority-comment {
    margin: 2em 0;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 22px;
}

#priority-statement {
    columns: 2;
}

.priority-checkbox {
    cursor: pointer;
}

.priority-title {
    position: relative;
    bottom: 25px;
    left: 25px;
    width: 200px;
}

/* 5. Party Page */

#party-page {
    position: relative;
    display: none;
}

.party-container {
    font-family: 'Arial';
    padding: 0.5em 0% 0em;
}

.party-header {
    color: #01B4DC;
    font-family: 'Arial';
    font-size: 33px;
    font-weight: bold;
    padding: 0 7.5%;
    margin-bottom: 1em;
}

.party-info {
    font-size: 18px;
    margin-bottom: 3em;
    padding: 0 7.5%;
}

.party-button {
    margin: 0 7.5%;
    float: right;
}

.party-parties {
    padding: 0.75em 7.5%;
    margin-top: 10em !important;
    background-color: #E7EAEB;
}

.party-comment {
    margin: 2em 0;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 22px;
}

#party-list {
    columns: 2;
}

.party-checkbox {
    cursor: pointer;
}

.party-title {
    position: relative;
    bottom: 25px;
    left: 25px;
    width: 200px;
}

.parties-button {
    background-color: white;
    line-height: 18px;
    font-weight: normal;
    color: black;
    padding: .5em;
    text-decoration: none;
    font-size: 14px;
    margin: -1em 10px 2em 0;
}

/* 6. Result Page */

#result-page {
    position: relative;
    display: none;
}

.result-container {
    background-color: #E7EAEB;
    padding: 4.5em 7.5% 5.5em !important;
}

.result-lower-container {

}

.result-header {
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 22px;
}

#result-big-button {
    min-height: 54px !important;
    font-size: 21px !important;
    float: right !important;
}
